
#h2_session {
  color: #B39A6A;
}


.space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.module {
  border: 2px dotted #bebebe;
}

// .dual {
//   display:inline-block;
// }

.list_block li {
  display:inline-block;
}
