<div class="banner-small" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= picture %>'); background-position:center">
  <div class="banner-small-content">
    <h1> <%= text %> </h1>
    <h3><%= text2 %></h3>
  </div>
</div>
