<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/7039/pexels-photo.jpeg');">
  <div class="banner-content">
    <h1>Become a master of yoga</h1>
    <p>Meet the best yoga teachers and level up your game</p>
    <form class="form-inline" action="/#map" method="get">
      <div class="form-group">
        <label for="Where?">Where?</label>
        <input type="text" class="form-control navbar-wagon-search-input" id="Where?" placeholder="16 villa Gaudelet, Paris", name="where">
      </div>
      <div class="form-group">
        <label for="Date">When?</label>
        <input type="text" class="navbar-wagon-search-input form-control" id="Date" placeholder="Date", name="when">
      </div>

      <button type="submit" class="btn btn-success">Find a class</button>
  </form>
  </div>
</div>
