<%= render "banner"%>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <% @sessions.each do |session| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "shared/card", session: session%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>





