<div id="map" style="width: 150px">
<h1><%= lesson.name %></h1>
<h2>address: <%= lesson.address %></h2>
<p><%=link_to("Book now", session_path(lesson.sessions.select{|session| session.starts_at >= Date.today}.first))%></p>
</div>
